@import "reset";
@import "other";

@font-base: 36;
@gap: unit(10/@font-base, rem);
@baseColor: #333333;
@border: 1px solid rgb(240,240,240);
.wh(@w, @h){
  width: unit(@w/@font-base, rem);
  height: unit(@h/@font-base, rem);
}
.h(@h){
  height: unit(@h/@font-base, rem);
}
