// loading
html,body,
#app,
.box-loading{
  height: 100%;
}
.box-loading{
  background-color: lavender;
}
.loader {
  width: 4rem;
  height: 4rem;
  line-height: 150px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  box-sizing: border-box;
  text-align: center;
  z-index: 0;
  text-transform: uppercase;
  font-size: 20px;
}

.loader:before,
.loader:after {
  opacity: 0;
  box-sizing: border-box;
  content: "\0020";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  border: 5px solid #fff;
  box-shadow: 0 0 50px #fff, inset 0 0 50px #fff;
}

.loader:after {
  z-index: 1;
  -webkit-animation: gogoloader 2s infinite 1s;
}

.loader:before {
  z-index: 2;
  -webkit-animation: gogoloader 2s infinite;
}

@-webkit-keyframes gogoloader {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

// dialog
.dialog{
  display: none;
  .mask{
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
  }
  .content{
    position: fixed;
    z-index: 2;
    width: 80%;
    max-width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
    .msg{
        padding: 2.7em 20px 1.7em;
        color: #353535;
        min-height: 40px;
        font-size: 15px;
        line-height: 1.3;
        word-wrap: break-word;
        word-break: break-all;
    }
    .close{
      position: relative;
      line-height: 48px;
      font-size: 18px;
      color: #0BB20C;
      &:after{
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        height: 1px;
        border-top: 1px solid #D5D5D6;
        color: #D5D5D6;
        transform-origin: 0 0;
        transform: scaleY(0.5);
      }
    }
  }
}

//ajax loading
@keyframes ajaxLoading {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
.loading-spinner{
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -.8rem 0 0 -.8rem;
  border: 10px solid #ff0099;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
  animation: ajaxLoading 1s linear infinite;
}

// other
.box-full{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.2);
}